.courseTitle {
  margin-top: 6rem;
  font-size: var(--fs-700);
  font-weight: var(--fw-800);
}

.article {
  margin-top: 2.5rem;
  line-height: 1.6;
}

/*.article h2 {*/
/*  font-size: var(--fs-500);*/
/*  font-weight: var(--fw-700);*/
/*  text-transform: capitalize;*/
/*  color: var(--clr-accent-900);*/
/*  margin-bottom: 1.25rem;*/
/*}*/

/*.article p {*/
/*  margin-bottom: 1.875rem;*/
/*}*/

/*.article ul {*/
/*  margin-left: 1rem;*/
/*  margin-bottom: 1.875rem;*/
/*}*/

/*.article li {*/
/*  margin: 0.625rem 0;*/
/*}*/

@media screen and (max-width: 57em) {
  .courseTitle {
    margin-top: 2rem;
    font-size: var(--fs-600);
  }
}
